﻿@import url('https://fonts.googleapis.com/css?family=Oswald');

.custom-form {
    margin-top: 84px;
}

.custom-form-group {
    width: 300px;
    margin: auto;
    margin-bottom: 25px;
}

.error-message {
    border-radius: 15px;
    background-color: #d2d2d2;
    width: 400px;
}

.btn-submit {
    border: 1px outset blue;
    color: #fff;
    background-color: #a74d79;
    border-color: #333333;
    border-radius: 0px;
    width: 100%;
    height: 50px;
    font-family: 'Oswald';
    font-size: 20px;
}

    .btn-submit:hover {
        color: #fff;
        background-color: #863e61;
    }

    .btn-submit:visited {
        color: #fff;
    }
