﻿@import url('https://fonts.googleapis.com/css?family=Oswald');

.bottomBorder {
        border-bottom: thin solid lightgrey;
    }

body.modal-open, .modal-open .navbar-fixed-top, .modal-open .navbar-fixed-bottom {
    margin-right: 0;
}

#loginModal {
    top: 25%;
    outline: none;
    height: auto;
    width: auto;
}

#loginModal .modal-dialog {
    width: 30%;
}

.modal-header {
    background-color: rgba(130, 1, 64, 0.7);
    opacity: 0.7;
}

#modalTitle {
    text-align: left;
    font-size: large;
    font-family: 'Oswald';
    color: white;
}

#username {
    height: 30px;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 12px 20px;
}

#password {
    height: 30px;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 12px 20px;
}

#modalFooter {
    text-align: center;
}

#cancelBlock, #submitBlock {
    display: inline;
}

