﻿@using System.Data.SqlClient
@model Web.Models.Home.HomeModel

@{
    Layout = "~/Views/Shared/Layout.cshtml";
}

<script src="~/Scripts/Application/Home.js"></script>

<body>

@Html.DropDownListFor(m => m.SelectedSetId, Model.Sets, new {@class = "setSelect", onchange = "ReloadPageWithNewSet(this)" })

    
<div class="problemsGrid">
    @Html.Partial("ProblemsInSetPartial", Model.ProblemsInSet.ToList())
</div>  

<img src="/Content/Images/crux.jpg" alt="Alternative Text">
</body>



