﻿@model List<Core.ProblemManagement.Objects.Problem>
    
<table class="table-striped table-bordered table-hover table-responsive table-condensed" id="problemTable">
    <tr>
        <th width="100px" style="text-align: center">Grade</th>
        <th width="100px" style="text-align: center">Color</th>
        <th width="100px" style="text-align: center">Setter</th>
    </tr>
    @if (Model.Count > 0)
    {
        foreach (var problem in Model)
        {
            <tr>
                <td width="100px">@problem.Grade</td>
                <td width="100px">@problem.Color</td>
                <td width="100px">@problem.Setter</td>
            </tr>
        }
    }
</table>

