﻿@model Web.Models.Problems.ProblemModel

<link href="~/Content/Application/Layout.css" rel="stylesheet" />

@using System.Threading.Tasks
@using GridMvc.Html
@{
    Layout = "~/Views/Shared/Layout.cshtml";
    ViewBag.Title = "Problems";
}

<!DOCTYPE html>

<html>
<head>
    <title>Index</title>

    <link href="@Url.Content("~/Content/Gridmvc.css")" rel="stylesheet" />
   
    <script src="@Url.Content("~/Scripts/jquery-3.3.1.min.js")"></script>
    <script src="@Url.Content("~/Scripts/gridmvc.min.js")"></script>  
</head>
<body style="background-color: #efefef">
    <div class="tagSelect">
        @using (Html.BeginForm("Problems", "Problems"))
        {
            for (var counter = 0; counter < Model.AvailiableTags.Count;)
            {
                <div class="checkbox">
                    <label class="leftTagFilter">
                        <input type="checkbox"
                               name="SelectedTags"
                               value="@Model.AvailiableTags[counter].Value" 
                               @if (Model.SelectedTags.Contains(Model.AvailiableTags[counter].Value))
                               {
                                   <text>checked</text>
                               }/> @Model.AvailiableTags[counter].Text
                    </label>
                    <label>
                        <input type="checkbox"
                               name="SelectedTags"
                               value="@Model.AvailiableTags[counter + 1].Value" 
                               @if (Model.SelectedTags.Contains(Model.AvailiableTags[counter + 1].Value))
                               {
                                   <text>checked</text>
                               }/> @Model.AvailiableTags[counter + 1].Text
                    </label>
                </div>

                counter += 2;
            }
            <div>
                    <input type="submit" class="submitTagFilterButton" value="Filter By Selected Tags" />
            </div>            
        }
    </div>
    <div class="problemsPageGrid">
        @Html.Grid(Model.FilteredProblems).Columns(columns =>
   {
       columns.Add(p => p.Color).Titled("Color").Filterable(true);
       columns.Add(p => p.Grade).Titled("Grade").Filterable(true);
       columns.Add(p => p.CommunityGrade).Titled("Community Grade").Filterable(true);
       columns.Add(p => p.Setter).Titled("Setter").Filterable(true);
       columns.Add(p => p.AssociatedSet.SetLocation).Titled("Set Location").Filterable(true);
       columns.Add(p => p.AssociatedSet.SetDate).Titled("Set Date").Filterable(true);
       columns.Add(p => p.Tags).Titled("Problem Tags").Filterable(false);

   }).WithPaging(20).Sortable(true).WithMultipleFilters()
    </div>
</body>
</html>