﻿
<script src="~/Scripts/Login/AddNewUser.js"></script>
<link href="~/Content/Login/AddNewUser.css" rel="stylesheet" />

<div id="addNewUserModal" class="modal" style="overflow-y: auto;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" align="center">
                <h1 class="modal-title" id="modalTitle">Please enter a Username and Password</h1>
            </div>
            <div class="modal-body">
                <div>
                    <input class="form-control" id="username" onkeyup="EnableSubmitButton()" maxlength="20" style="min-width: 100%"/>
                </div>
                <br/>
                <div>
                    <input class="form-control" id="password" onkeyup="EnableSubmitButton()" maxlength="20" style="min-width: 100%"/>
                </div>
            </div>
            <div id="modalFooter " class="modal-footer">
                <div id="cancelBlock">
                    <button type="button" id="cancel" onclick="CloseNewUserModal()" style="float: left">Cancel</button>
                </div>
                <div id="submitBlock">
                    <button id="submitNewUser" onclick="AddNewUser()" disabled>Submit</button>
                </div>
            </div>           
        </div>
    </div>
</div>
