﻿@using System.Web.Mvc.Html

<!DOCTYPE html>
<head>    
    <script src="/Scripts/jquery-3.3.1.min.js"></script>
    <script src="/Scripts/bootstrap.min.js"></script>
    <link href="/Content/bootstrap.min.css" rel="stylesheet"/>
    <script src="/Scripts/bootstrap.js"> </script>
    <link href="/Content/Application/Layout.css" rel="stylesheet">
    <link href="~/Content/Application/Layout.css" rel="stylesheet"/>

    <meta http-equiv="X-UA-Compatible" content="IE=11"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

@Html.Partial("NavBar")

@RenderBody()
</body>


