﻿
<script src="~/Scripts/Login/Login.js"></script>
<link href="~/Content/Login/Login.css" rel="stylesheet" />

<div id="loginModal" class="modal" style="overflow-y: auto;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" align="center">
                <h1 class="modal-title" id="modalTitle">Please login with a Username and Password</h1>
            </div>
            <div class="modal-body">
                <div>
                    <input class="form-control" input type="text" id="loginUsernameInput" maxlength="20" style="min-width: 100%"/>
                </div>
                <br/>
                <div>
                    <input class="form-control" input type="password" id="loginPasswordInput" maxlength="20" style="min-width: 100%"/>
                </div>
            </div>
            <div id="modalFooter " class="modal-footer">
                <div id="cancelBlock">
                    <button type="button" id="cancel" onclick="CloseLoginModal()" style="float: left">Cancel</button>
                </div>
                <div id="submitBlock">
                    <button type="button" id="loginBtn" onclick="SubmitLogin()">Login</button>
                </div>
            </div>           
        </div>
    </div>
</div>
