﻿@using Web.Extensions

<script src="~/Scripts/Login/AddNewUser.js"></script>
<link href="~/Content/Login/AddNewUser.css" rel="stylesheet" />


<script src="/Scripts/jquery-3.1.1.min.js"></script>
<script src="/Scripts/bootstrap.min.js"></script>
<link href="/Content/bootstrap.min.css" rel="stylesheet" />

<link href="~/Content/Application/Layout.css" rel="stylesheet" />

@*@Html.Partial("LoginPartial")*@

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <span class="navbar-brand"><a href="@Url.Action("Index", "Home")" id="brand">Crux Problem Tracker</a></span>

        </div>
        <div id="navbar" class="pull-right navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a href="@Url.Action("Problems", "Problems")" id="problemsLink">Problems</a>
                </li>

                @if (Request.IsAuthenticated)
                {
                <li>
                    <a href="@Url.Action("Logout", "Login")" id="loginLink">Logout</a>
                </li>
                <li>
                    <a id="newUserLink">Hello @User.Identity.Name</a>
                </li>
                }
                else
                {
                <li>
                    <a href="@Url.Action("Login", "Login")" id="loginLink">Login</a>
                </li>
                <li>
                    <a href="@Url.Action("AddNewUser", "AddNewUser")" id="newUserLink">Sign Up</a>
                </li>
                }

            </ul>
        </div>
    </div>
</nav>



