﻿@import url('https://fonts.googleapis.com/css?family=Oswald');

.navbar-brand,
.navbar-nav li a {
    line-height: 85px;
    height: 85px;
    padding-top: 0;
}

#navbar {
    font-size: 16px;
}

.navbar-default {
    /*background-color: #811f4f;*/
    background-color: rgba(130, 1, 64, 0.7);  
}

.setSelect {
    margin-top: 84px; 
    display: inline-block; 
    position: fixed;
    background: rgba(130, 1, 64, 0.7);
    color: white;
    font-family: 'Oswald';
    width: 150px;
}

.problemsPageGrid {
    position: absolute;
    width: 83.5%;
    margin-top: 84px;
    margin-left: 60px;
    font-family: 'Oswald';
    display: inline-block;
}

.leftTagFilter {
    margin-left: 40px;
    margin-right: 10px;
    float: left;
}

.tagSelect {
    width: auto;
    margin-top: 110px;
    font-family: 'Oswald';
    display: inline-block;
}

.submitTagFilterButton {
    margin-left: 40px;
    font-family: 'Oswald';
    display: inline-block
}

.problemsGrid {
    width: 300px;
    height: 500px;
    display: inline-block;
    overflow-y: scroll;
    overflow-x: hidden;
    border: 2.5px solid rgba(130, 1, 64, 1.0);
    position: fixed;
    margin-left: 150px;
    margin-top: 84px;
    background: grey;
    font-family: 'Oswald';
    text-align: center;
}

#problemsLink {
    color: white;
    font-family: 'Oswald'
}

#newUserLink {
    color: white;
    font-family: 'Oswald'
}

#loginLink {
    color: white;
    font-family: 'Oswald';
    border-right: white;
}

#navbarUserNameLink {
    color: white;
    font-family: 'Oswald';
    border-right: white;
}

#brand {
    color: white;
    font-family: 'Oswald';
    border-right: white;
}

/*div.verticalLine{
      width: 1.5px; 
      background-color: white;
      height: 100%;
      padding-top: 50%;
    }*/

